apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kube-dash-ingress
spec:
  tls:
  - hosts:
    - kube-dash.icsdemo.cloud
  rules:
  - host: cafe.example.com
    http:
      paths:
      - path: /
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 8443
